In [1]:
import numpy as np
import pandas as pd

df = pd.read_excel('data/SOFT-3.xlsx')

In [2]:
#Install neccessary dependencies
#!python -m pip install -U faker

In [3]:
from faker import Faker

faker = Faker()# Test fake data generation
print("The Faker library can generate fake names. By running 'faker.name()', we get:")
faker.name()

Faker.seed(4321)
dict_names = {name: faker.name() for name in df['student'].unique()}
df['student'] = df['student'].map(dict_names)
df.head(20)

The Faker library can generate fake names. By running 'faker.name()', we get:

                  student                            company       cvr
0             Jason Brown                       Dynatest A/S  40916458
1             Jacob Stein  Eriksholm Research Centre, Oticon  42334219
2              Cody Brown                           Formpipe  29177015
3           Larry Morales                           Formpipe  29177015
4       Jessica Hendricks                           Formpipe  29177015
5             Brian Moore                       Novo Nordisk  24256790
6             Scott Baker                                PFA  13594376
7            Ruth Hoffman                         Topdanmark  78040017
8           Daniel George                            KMD A/S  26911745
9             David Moody                            KMD A/S  26911745
10          Brian Maxwell                            KMD A/S  26911745
11            Cory Cooper                      NorthTech ApS  10121361
12          Morgan Foster                    Alpha Solutions  27506488
13         James Sandoval                    Alpha Solutions  27506488
14           Brian Lester                             Dafolo  61966617
15             Anne Davis                             Dafolo  61966617
16  Miss Amanda Harris MD                         Nuuday A/S  40075291
17               Amy Dunn                         Nuuday A/S  40075291
18              Brian Lee                     Netcompany A/S  14814833

In [4]:
#Method that fetches the CVR API using the companies CVR number.

import urllib.request as request
import json 
import contextlib

def cvrapi(cvr):
  request_a = request.Request(
    url='https://cvrapi.dk/api?country=dk&vat=%s' % cvr,
    headers={
      'User-Agent': 'ds-assignment'})
  with contextlib.closing(request.urlopen(request_a)) as response:
    return json.loads(response.read())

In [5]:
#Put all companies CVR in a list of strings
companies_cvr = df['cvr'].tolist()

#Remove duplicates
unique_cvr = [cvr for cvr in set(companies_cvr)]

print(unique_cvr)

[26911745, 13594376, 40916458, 42334219, 78040017, 10121361, 14814833, 24256790, 29177015, 27506488, 61966617, 40075291]

In [6]:
#Call API for each CVR and write response json to a json file

import json

companies_list = []

for c in unique_cvr:
    company_json = (cvrapi(c))
    companies_list.append(company_json)

with open("data/companies.json", "w") as file:
    json.dump(companies_list, file)

In [11]:
#Insert JSON data from file to pandas dataframe
json_df = pd.read_json('data/companies.json')

json_df.head(11)

,vat,name,address,zipcode,city,cityname,protected,phone,email,fax,...,industrydesc,companycode,companydesc,creditstartdate,creditbankrupt,creditstatus,owners,productionunits,t,version
0,26911745,KMD A/S,Lautrupparken 40,2750,Ballerup,NaN,False,44601000.0,info@kmd.dk,44604106.0,...,Konsulentbistand vedrørende informationsteknologi,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017630322, 'main': False, 'name': 'K...",100,6
1,13594376,"PFA PENSION, FORSIKRINGSAKTIESELSKAB.",Sundkrogsgade 4,2100,København Ø,NaN,False,39175000.0,None,NaN,...,Livsforsikring,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1000591581, 'main': False, 'name': 'P...",100,6
2,40916458,Dynatest A/S,Tempovej 27,2750,Ballerup,NaN,False,70253355.0,None,NaN,...,"Fremstilling af udstyr til måling, afprøvning,...",60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1025210030, 'main': True, 'name': 'Dy...",100,6
3,42334219,OTICON A/S,Kongebakken 9,2765,Smørum,NaN,False,39177100.0,None,39277900.0,...,Fremstilling af høreapparater og dele hertil,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1006552453, 'main': False, 'name': 'O...",100,6
4,78040017,TOPDANMARK A/S,Borupvang 4,2750,Ballerup,NaN,False,70158585.0,None,NaN,...,Finansielle holdingselskaber,60,Aktieselskab,NaN,False,NaN,[{'name': 'Sampo plc'}],"[{'pno': 1015253246, 'main': False, 'name': 'T...",100,6
5,10121361,NORTHTECH ApS,"Wildersgade 51, 1",1408,København K,NaN,True,NaN,kontakt@northtech.dk,NaN,...,Computerprogrammering,80,Anpartsselskab,NaN,False,NaN,None,"[{'pno': 1009658463, 'main': True, 'name': 'NO...",100,6
6,14814833,Netcompany A/S,"Grønningen 17, 1",1270,København K,NaN,True,70131440.0,info@netcompany.com,NaN,...,Konsulentbistand vedrørende informationsteknologi,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017633488, 'main': False, 'name': 'N...",100,6
7,24256790,NOVO NORDISK A/S,Novo Alle 1,2880,Bagsværd,NaN,False,44448888.0,None,NaN,...,Fremstilling af farmaceutiske præparater,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017661031, 'main': False, 'name': 'N...",100,6
8,29177015,FORMPIPE SOFTWARE A/S,Lautrupvang 1,2750,Ballerup,NaN,False,33256555.0,None,NaN,...,Computerprogrammering,60,Aktieselskab,NaN,False,NaN,[{'name': 'Formpipe Software AB'}],"[{'pno': 1014492123, 'main': False, 'name': 'F...",100,6
9,27506488,ALPHA SOLUTIONS A/S,"Gothersgade 14, 4",1123,København K,NaN,True,70206538.0,None,NaN,...,Konsulentbistand vedrørende informationsteknologi,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1010322290, 'main': True, 'name': 'AL...",100,6
10,61966617,DAFOLO A/S,Suderbovej 22-24,9900,Frederikshavn,NaN,True,96206666.0,dafolo@dafolo.dk,98429711.0,...,Udgivelse af bøger,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1009171335, 'main': False, 'name': 'D...",100,6

In [8]:
#Install geopy
#!python -m pip install -U geopy

In [13]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

company_cities = json_df['city'].tolist()
company_addresses = json_df['address'].tolist()

addresses_stripped = [address.split(',')[0] for address in company_addresses]

addresses = []
for i in range(len(addresses_stripped)):
    addresses.append(addresses_stripped[i] + ", " + company_cities[i])

latitudes = []
longitudes = []
for address in addresses:
    location = geolocator.geocode(address)
    latitudes.append((location.latitude))
    longitudes.append((location.longitude))

print(latitudes)
print(longitudes)

[55.73613, 55.708655, 55.723369, 55.749182, 55.734142, 55.674321, 55.689618, 55.754555, 55.733204, 55.682038, 57.4455297, 55.653577]
[12.393105, 12.591288, 12.376387, 12.294416, 12.380579, 12.591612, 12.590014, 12.455185, 12.391164, 12.583964, 10.4937435, 12.544796]

In [14]:
#Add latitude and longitude to the Dataframe 'json_df'

#Latitudes
json_df = json_df.assign(latitude=latitudes)

#Longitudes
json_df = json_df.assign(longitude=longitudes)

json_df.head(10)

,vat,name,address,zipcode,city,cityname,protected,phone,email,fax,...,companydesc,creditstartdate,creditbankrupt,creditstatus,owners,productionunits,t,version,latitude,longitude
0,26911745,KMD A/S,Lautrupparken 40,2750,Ballerup,NaN,False,44601000.0,info@kmd.dk,44604106.0,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017630322, 'main': False, 'name': 'K...",100,6,55.736130,12.393105
1,13594376,"PFA PENSION, FORSIKRINGSAKTIESELSKAB.",Sundkrogsgade 4,2100,København Ø,NaN,False,39175000.0,None,NaN,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1000591581, 'main': False, 'name': 'P...",100,6,55.708655,12.591288
2,40916458,Dynatest A/S,Tempovej 27,2750,Ballerup,NaN,False,70253355.0,None,NaN,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1025210030, 'main': True, 'name': 'Dy...",100,6,55.723369,12.376387
3,42334219,OTICON A/S,Kongebakken 9,2765,Smørum,NaN,False,39177100.0,None,39277900.0,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1006552453, 'main': False, 'name': 'O...",100,6,55.749182,12.294416
4,78040017,TOPDANMARK A/S,Borupvang 4,2750,Ballerup,NaN,False,70158585.0,None,NaN,...,Aktieselskab,NaN,False,NaN,[{'name': 'Sampo plc'}],"[{'pno': 1015253246, 'main': False, 'name': 'T...",100,6,55.734142,12.380579
5,10121361,NORTHTECH ApS,"Wildersgade 51, 1",1408,København K,NaN,True,NaN,kontakt@northtech.dk,NaN,...,Anpartsselskab,NaN,False,NaN,None,"[{'pno': 1009658463, 'main': True, 'name': 'NO...",100,6,55.674321,12.591612
6,14814833,Netcompany A/S,"Grønningen 17, 1",1270,København K,NaN,True,70131440.0,info@netcompany.com,NaN,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017633488, 'main': False, 'name': 'N...",100,6,55.689618,12.590014
7,24256790,NOVO NORDISK A/S,Novo Alle 1,2880,Bagsværd,NaN,False,44448888.0,None,NaN,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017661031, 'main': False, 'name': 'N...",100,6,55.754555,12.455185
8,29177015,FORMPIPE SOFTWARE A/S,Lautrupvang 1,2750,Ballerup,NaN,False,33256555.0,None,NaN,...,Aktieselskab,NaN,False,NaN,[{'name': 'Formpipe Software AB'}],"[{'pno': 1014492123, 'main': False, 'name': 'F...",100,6,55.733204,12.391164
9,27506488,ALPHA SOLUTIONS A/S,"Gothersgade 14, 4",1123,København K,NaN,True,70206538.0,None,NaN,...,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1010322290, 'main': True, 'name': 'AL...",100,6,55.682038,12.583964

In [16]:
#Clean dataframe

clean_df = json_df[['vat', 'name', 'city', 'address', 'zipcode', 'latitude', 'longitude']]

clean_df.head(20)

,vat,name,city,address,zipcode,latitude,longitude
0,26911745,KMD A/S,Ballerup,Lautrupparken 40,2750,55.736130,12.393105
1,13594376,"PFA PENSION, FORSIKRINGSAKTIESELSKAB.",København Ø,Sundkrogsgade 4,2100,55.708655,12.591288
2,40916458,Dynatest A/S,Ballerup,Tempovej 27,2750,55.723369,12.376387
3,42334219,OTICON A/S,Smørum,Kongebakken 9,2765,55.749182,12.294416
4,78040017,TOPDANMARK A/S,Ballerup,Borupvang 4,2750,55.734142,12.380579
5,10121361,NORTHTECH ApS,København K,"Wildersgade 51, 1",1408,55.674321,12.591612
6,14814833,Netcompany A/S,København K,"Grønningen 17, 1",1270,55.689618,12.590014
7,24256790,NOVO NORDISK A/S,Bagsværd,Novo Alle 1,2880,55.754555,12.455185
8,29177015,FORMPIPE SOFTWARE A/S,Ballerup,Lautrupvang 1,2750,55.733204,12.391164
9,27506488,ALPHA SOLUTIONS A/S,København K,"Gothersgade 14, 4",1123,55.682038,12.583964
10,61966617,DAFOLO A/S,Frederikshavn,Suderbovej 22-24,9900,57.445530,10.493744
11,40075291,Nuuday A/S,København SV,Teglholmsgade 1,2450,55.653577,12.544796

In [219]:
#Install folium
#!python -m pip install -U folium

In [17]:
import folium

# Create a base map centered on Denmark
denmark_map = folium.Map(location=[55.67, 12.57], zoom_start=7)

#Add markers to where students have been in internship
for index, row in clean_df.iterrows():
    folium.Marker([row["latitude"], row["longitude"]], popup=row["name"]).add_to(denmark_map)

# Show the map
denmark_map

In [18]:
#Save cleaned dataframe to CSV file
clean_df.to_csv("data/cleaned.csv", index=False)

In [227]:
import smtplib
import ssl
from email.message import EmailMessage

email_sender = 'cphfa116@gmail.com'
email_password = '***********'
email_receiver = 'tdi@cphbusiness.dk'

subject = 'Data Science Assignment - Automated Email Frederik'
body = """
This is an automated email sent from my python application in the data science course
"""

em = EmailMessage()
em['From'] = email_sender
em['To'] = email_receiver
em['Subject'] = subject
em.set_content(body)

context = ssl.create_default_context()

with smtplib.SMTP_SSL('smtp.gmail.com', 465, context=context) as smtp:
    smtp.login(email_sender, email_password)
    smtp.sendmail(email_sender, email_receiver, em.as_string())

In [ ]:
from collections import Counter
import pandas as pd
import sklearn as sk
import math 
import pprint
import requests
from bs4 import BeautifulSoup
import pandas as pd
import scipy.spatial
from sentence_transformers import SentenceTransformer, util

df = pd.read_json(r'data/companies.json')

df[['name', 'industrydesc']]

def cosine(vector1, vector2):
    # calculate nominator as a dot product
    numerator = sum(map(lambda pair:pair[0]*pair[1],zip(vector1, vector2)))
    
    # calculate the denominator, use Euclidean norm
    sum1 = sum([vector1[i] ** 2 for i in list(vector1.keys())])
    sum2 = sum([vector2[i] ** 2 for i in list(vector2.keys())])   
    denominator = math.sqrt(sum1) * math.sqrt(sum2)
    
    if not denominator:
         return 0.0
    else:
         return float(numerator)/denominator   

def cvect(sent):
    wvec = dict.fromkeys(all, 0) 
    for word in sent:
        wvec[word]+=1
    return wvec

for (index, row), ii in zip(df.iterrows(), range(10)):
    company_sentence1 = df.iloc[ii+1]["industrydesc"]
    company_sentence1 = company_sentence1.split(" ")
    for index, row in df.iterrows():
        company_sentence2 = row["industrydesc"]
        company_sentence2 = company_sentence2.split(" ")
        all = set(company_sentence2).union(set(company_sentence1))
        dict1 = cvect(company_sentence1)
        dict2 = cvect(company_sentence2)
        dfc = pd.DataFrame([dict1, dict2])
        corr = cosine(dfc.iloc[0], dfc.iloc[1])
        print("Similarity: ", corr)
        print(len(all))
        print(f'{all} \n \n')

In [ ]:
urls = ['https://www.kmd.dk/','https://pfa.dk/privat/', 'https://dynatest.com/', 
                    'https://www.oticon.dk/hearing-aid-users','https://www.topdanmark.dk/',
                    'https://northtech.dk/','https://www.netcompany.com/da','https://www.novonordisk.dk/',
                    'https://www.formpipe.com/da/','https://www.alpha-solutions.com','https://dafolo.dk/', 
                    'https://nuuday.dk/']

df['website'] = urls

for index, row in df.iterrows():
    
    response = requests.get(row['website'])
    web = response.text
    soup = BeautifulSoup(web,'html.parser')
    corpus = soup.find_all('p')
    texts = [p.text for p in corpus]
    print(texts)

    embedder = SentenceTransformer('all-MiniLM-L6-v2')
    corpus_embeddings = embedder.encode(texts)
    corpus_embeddings


    queries = ["Søger i praktikanter?", "programmering", "kan jeg låne bøger?",]
    query_embedding = embedder.encode(queries)
    query_embedding

    closest_n = 3
    for query, query_embedding in zip(queries, query_embedding):
        distances = scipy.spatial.distance.cdist([query_embedding], corpus_embeddings, "cosine")[0]

        results = zip(range(len(distances)), distances)
        results = sorted(results, key=lambda x: x[1])

        print("\n======================\n")
        print("Query:", query)
        print("\nTop 3 most similar sentences in corpus:\n")

        for idx, distance in results[0:closest_n]:
            print(texts[idx].strip(), "(Score: %.4f)" % (1-distance))

    similarity = util.dot_score(query_embedding, corpus_embeddings)
    similarity